.containerRedirection {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    gap: 15px;
    margin: 2vh 5vh;
}

.buttonRedirect {
    border-radius: 20px;
    padding: 8px 20px;
    background-color: var(--marketplaceColorLight);
    color:#efefef;
    font-size: 13px;

}

.buttonRedirect:hover {
    background-color: var(--marketplaceColor);
    color: #efefef;
    border-radius: 20px;
    cursor: pointer;
    padding: 8px 20px;
    font-size: 13px;
}

@media (max-width: 1000px) {
    .buttonRedirect {
        border-radius: 15px;
        padding: 8px 26px;
        background-color: var(--marketplaceColorLight);
        font-size: 12px;
    }

    .buttonRedirect:hover {
        background-color: var(--marketplaceColorDark);
        border-radius: 15px;
        cursor: pointer;
        padding: 5px;
        font-size: 12px;
    }

    .containerRedirection {
        display: flex;
        justify-content: center;
    }
}