.container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    background-color: #ffffff;
    padding: 0 4px 0 10px;
    border-radius: 30px;
    margin-bottom: 15px;
    gap: 5px;
    width: 60%;
    height: 8vh;
}

.containerButton {
    display: flex;
    flex-wrap: nowrap;
    background-color: var(--marketplaceColorLight);
    border-radius: 25px;
    padding: 6px 15px;
    gap: 5px;
    width: 30%;
    height: 80%;
    align-items: center;
}

.containerButton:hover {
    background-color: var(--marketplaceColorDark);
}

.inputText {
    border: none;
    outline: none;
}

.inputText:focus {
    border: none;
    outline: none;
}

span {
    
}