.container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: center;
    background-color: #ffffff;
    /* padding: 0 4px 0 10px; */
    border-radius: 40px;
    margin-bottom: 15px;
    gap: 5px;
    width: 60%;
    height: 8vh;
}

.containerButton {
    position: absolute;
    display: flex;
    flex-wrap: nowrap;
    background-color: var(--marketplaceColorLight);
    border-radius: 30px;
    padding: 6px 15px;
    gap: 5px;
    align-items: center;
    margin-right: 5px;
    height: 6vh;
}

.containerButton:hover {
    background-color: var(--marketplaceColorDark);
}

.inputText {
    border: none;
    outline: none;
    color: #000000;
    font-size: 25px;
    text-align: center;
    background-color: #ffffff00;
    height: 100%;
    border-radius: 40px;
}

.inputText::placeholder {
    color: rgb(31, 31, 31);
    opacity: 0.7;
    font-size: 25px;
}

.inputText:focus {
    border: none;
    outline: none;
    background-color: #ffffff00;
    height: 100%;
    width: 100%;
    border-radius: 40px;
}

@media (max-width: 1000px) {
    span {
        display: none;
    }
}